{
    "VM_TOKEN": "your_voice_monkey_token_here",
    "VM_DEVICE": "living-room-echo",
    "VM_MORNING_DEVICE": "bedroom-alexa",
    "VM_USE_SOUND": false,
    "USER_NAME": "Joe",
    "setup_complete": false,
    "gdrive_client_id": "your_gdrive_client_id_here",
    "gdrive_client_secret": "your_gdrive_client_secret_here"
}
